<footer id="footer">
    <div class="why_select">
        <dl>
            <dt class="fl">
                <img src="images/icon_1.jpg" alt="">
            </dt>
            <dd>
                <h1>精致产品</h1>
                <h2>产品全自主选，随心买</h2>
            </dd>
        </dl>
        <dl>
            <dt class="fl">
                <img src="images/icon_2.jpg" alt="">
            </dt>
            <dd>
                <h1>优质行程</h1>
                <h2>节日放假全家happy</h2>
            </dd>
        </dl>
        <dl>
            <dt class="fl">
                <img src="images/icon_3.jpg" alt="">
            </dt>
            <dd>
                <h1>优美风景</h1>
                <h2>远离城市喧嚣，享受一片安宁</h2>
            </dd>
        </dl>
        <dl>
            <dt class="fl">
                <img src="images/icon_4.jpg" alt="">
            </dt>
            <dd style="margin-right:0px;">
                <h1>贴心服务</h1>
                <h2>24小时为您的家人和朋友送上贴心服务</h2>
            </dd>
        </dl>
    </div>
    <div class="company">
        <p>滁州绿怡农家乐</p>
    </div>
</footer>


