<script src="../js/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="../css/common.css">
<script type="text/javascript">
    //页面加载时获取登录的用户数据
    $(function () {
        $(".login").hide();//登录信息隐藏
        //请求servlet，获取登录用户数据

        $.post(
            "user/queryInfoByLoginUser",
            {action: "getLoginUserData"},//请求方法
            function (resultInfo) {
                if (resultInfo.flag) {
                    //已登录
                    $(".login_out").hide();//没有登录信息隐藏
                    $(".login").html(" <span>欢迎回来，" + resultInfo.data + "</span>\n" +
                        "                <a href=\"user/loginOut\">退出</a>").show();
                } else {
                    //未登录
                    $(".login_out").show();//没有登录信息显示
                    $(".login").hide();//登录信息隐藏
                }
            },
            "json"
        );
    });

</script>
<!-- 头部 start -->
<header id="header">
    <div class="logo">
        <a href="#">滁州绿怡农家乐</a>

    </div>
    <div>
        <span>轻松娱乐 & 放松心情</span>
    </div>
    <div class="shortcut">
        <!-- 未登录状态  -->
        <div class="login_out">
            <a href="login.html">登录</a>
            <a href="register.html">注册</a>
        </div>
        <!-- 登录状态  -->
        <div class="login">

            <span></span>
            <a href="javascript:;">退出</a>
        </div>
    </div>
    
</header>


