<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>农庄</title>

    <link rel="stylesheet" href="../css/zerogrid.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" href="../css/search.css">
    <script type="text/javascript" src="../js/getParameter.js"></script>

    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" href="css/menu.css">
    <script src="../js/jquery1111.min.js" type="text/javascript"></script>
    <script src="../js/script.js"></script>

    <link href="../owl-carousel/owl.carousel.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/search.css">
    <script src="../js/html5.js"></script>
    <script src="../js/css3-mediaqueries.js"></script>

</head>

<body class="single-page">
<div class="wrap-body">

    <div id="header"></div>
    <div id="cssmenu" class="align-center">
        <ul>
            <li><a href="index.html"><span>首页</span></a></li>
            <li><a href="news.html"><span>农庄动态</span></a></li>
            <li><a href="activities.html"><span>戶外活动</span></a>
            <li><a href="foods.html"><span>餐厅与美食</span></a>
            <li class="active"><a href="products.html"><span>农家产品</span></a>
            <li><a href="about.html"><span>关于</span></a></li>

        </ul>
    </div>

    <div class="page_one">
        <div class="contant">
            <div class="crumbs">
            </div>
            <div class="xinxi clearfix">
                <div class="left">
                    <div class="header">
                        <span>农产品</span>
                        <!--<span class="jg">发布日期</span>-->
                    </div>
                    <ul>
                        <li th:each="details :${products.list}">

                            <div class="img" th:utext="${details.productImg}"></div>
                            <div class="text1">
                                <p th:text="${details.productName}"></p>
                                <br/>
                                <p>
                                    <span th:text="${details.created}"></span>
                                </p>


                            </div>
                            <div class="price">


                                <p class="price_num">
                                    <span>&yen;</span>
                                    <span th:text="${details.productPrice}"></span>
                                    <span>起</span>

                                </p>
                                <p><a th:href="'productDetails.html?uid=' + ${details.id}">查看详情</a></p>

                            </div>
                        </li>
                    </ul>
                    <div class="page_num_inf">
                        <i></i> 共
                        <span th:text="${products.pages}"></span>页<span th:text="${products.total}"></span>条
                    </div>
                    <div class="pageNum">
                        <div class="pagination">
                            <ul>
                                <li th:if="${products.hasPreviousPage}">
                                    <a th:href="'products.html?pageNum=' + ${products.pages}" th:text="首页"></a>

                                    <a th:href="'products.html?pageNum=' + ${products.prePage}" th:text="上一页"></a>
                                </li>
                                <!-- 中间页 -->
                                <li th:each="pageNum:${#numbers.sequence(0, products.pages - 1)}">
                                    <a th:href="'products.html?pageNum=' + ${pageNum+1}" th:text="${pageNum + 1}"
                                       th:if="${pageNum+1 ne products.pageNum}"></a>
                                    <a th:href="'products.html?pageNum=' + ${pageNum+1}" th:text="${pageNum + 1}"
                                       th:if="${pageNum+1 eq products.pageNum}"
                                       th:style="'font-weight:bold;background: #6faed9;'"></a>
                                </li>

                                <!-- 下一页 -->
                                <li th:if="${products.hasNextPage}">
                                    <a th:href="'products.html?pageNum=1'" th:text="尾页"></a>

                                    <a th:href="'products.html?pageNum=' + ${products.nextPage}" th:text="下一页"></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="footer"></div>
</div>
</body>
<script type="text/javascript" src="js/include.js"></script>

</html>